/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'MonotypeCorsiva';
  src: url("../resources/MonotypeCorsiva/MonotypeCorsiva.woff") format("woff"), url("../resources/MonotypeCorsiva/MonotypeCorsiva.ttf") format("truetype"), url("../resources/MonotypeCorsiva/MonotypeCorsiva.svg#MonotypeCorsiva") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MonotypeCorsiva';
  src: url("../resources/MonotypeCorsiva/mtcorsva.eot");
  src: url("../resources/MonotypeCorsiva/mtcorsva.woff2") format("woff2"), url("../resources/MonotypeCorsiva/mtcorsva.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/* line 24, ../sass/main_styles.scss */
body {
  font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
}

/* line 137, ../sass/main_styles.scss */
.wrapper {
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/* line 144, ../sass/main_styles.scss */
a {
  text-decoration: none;
}

/* line 147, ../sass/main_styles.scss */
.direction {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  padding: 10px 0;
  background-color: #f19811;
}
/* line 84, ../sass/main_styles.scss */
.direction .arrow-back {
  float: left;
}
/* line 87, ../sass/main_styles.scss */
.direction .direction-title {
  margin: 0 auto;
  text-align: center;
}
/* line 90, ../sass/main_styles.scss */
.direction .direction-title a {
  color: #069df1;
  color: white;
  font: 400 15px/20px "Open Sans", sans-serif;
  text-transform: uppercase;
}

/* line 1, ../sass/_header.scss */
header {
  max-height: 64px;
  height: 100%;
  padding: 11px 0;
  background-color: #f0e9e0;
  /*logo*/
  /*dropdown phone*/
  /*end dropdown phone*/
  /*end menu*/
}
/* line 7, ../sass/_header.scss */
header .main-menu,
header .lenguage-block {
  display: none;
}
/* line 12, ../sass/_header.scss */
header .dropdovn-menu-mobile {
  position: relative;
}
/* line 14, ../sass/_header.scss */
header .dropdovn-menu-mobile .hidden-menu {
  display: block;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 217px;
  background-color: #f19811;
  height: auto;
  top: 52px;
  left: -650px;
  transition: left .2s;
  z-index: 9;
  -webkit-transform: classZ(0);
  -webkit-backface-visibility: hidden;
}
/* line 30, ../sass/_header.scss */
header .dropdovn-menu-mobile .hidden-menu li {
  display: block;
  width: 100%;
  height: 43px;
  margin: 0 auto;
  text-align: left;
  line-height: 43px;
  vertical-align: middle;
  border-bottom: 1px solid #fff;
}
/* line 40, ../sass/_header.scss */
header .dropdovn-menu-mobile .hidden-menu li:first-child, header .dropdovn-menu-mobile .hidden-menu li:last-child {
  border: none;
}
/* line 45, ../sass/_header.scss */
header .dropdovn-menu-mobile .hidden-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 26px;
  color: black;
  font: 400 18px/43px "Open Sans", sans-serif;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 54, ../sass/_header.scss */
header .dropdovn-menu-mobile .hidden-menu li a:hover {
  color: #fff;
  background: #ea5904;
}
/* line 59, ../sass/_header.scss */
header .dropdovn-menu-mobile .hidden-menu li a.hidden-menu-active {
  color: #fff;
  background: #ea5904;
}
/* line 65, ../sass/_header.scss */
header .dropdovn-menu-mobile .hidden-menu .language-item a {
  display: inline-block;
  width: 28px;
  height: 25px;
  padding: 3px 5px;
  color: black;
  font: 400 16px/22px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 73, ../sass/_header.scss */
header .dropdovn-menu-mobile .hidden-menu .language-item a:first-of-type {
  margin-left: 20px;
}
/* line 77, ../sass/_header.scss */
header .dropdovn-menu-mobile .hidden-menu .language-item a.active-lenguage {
  background: #ea5904;
}
/* line 80, ../sass/_header.scss */
header .dropdovn-menu-mobile .hidden-menu .language-item span {
  color: #000;
}
/* line 85, ../sass/_header.scss */
header .dropdovn-menu-mobile .hidden-menu-ticker {
  display: none;
}
/* line 88, ../sass/_header.scss */
header .dropdovn-menu-mobile .btn-menu {
  color: #fff;
  background-color: none;
  position: absolute;
  top: 15px;
  left: 0;
  cursor: pointer;
  transition: left .23s;
  z-index: 99;
  width: 22px;
  -webkit-transform: classZ(0);
  -webkit-backface-visibility: hidden;
}
/* line 101, ../sass/_header.scss */
header .dropdovn-menu-mobile .btn-menu span {
  display: block;
  height: 2px;
  background-color: #d72828;
  margin: 3px 0 0;
  transition: all .1s linear .23s;
  border-radius: 10px;
  position: relative;
}
/* line 110, ../sass/_header.scss */
header .dropdovn-menu-mobile .btn-menu span.first {
  margin-top: 0;
}
/* line 113, ../sass/_header.scss */
header .dropdovn-menu-mobile .hidden-menu-ticker:checked ~ .btn-menu {
  left: 0;
  top: 15px;
  z-index: 99999;
}
/* line 118, ../sass/_header.scss */
header .dropdovn-menu-mobile .hidden-menu-ticker:checked ~ .hidden-menu {
  left: -15px;
  top: 52px;
  overflow: hidden;
  margin: 0;
  z-index: 9999;
}
/* line 129, ../sass/_header.scss */
header .block-logo .logo {
  max-width: 150px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 5px 0 0 5%;
  text-align: center;
}
/* line 139, ../sass/_header.scss */
header .block-logo .logo img {
  max-width: 100%;
  height: auto;
}
/* line 146, ../sass/_header.scss */
header .call-us-block {
  float: right;
  margin: 0;
  vertical-align: middle;
}
/* line 151, ../sass/_header.scss */
header .call-us-block img {
  display: inline-block;
  line-height: 33px;
  vertical-align: middle;
}
/* line 157, ../sass/_header.scss */
header #info-mobile {
  width: 258px;
  height: auto;
  background-color: #f39810;
  box-shadow: 2.4px 4.4px 7px rgba(0, 1, 1, 0.26);
  clear: none;
  float: right;
  position: absolute;
  top: 52px;
  right: 0;
  z-index: 100;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 170, ../sass/_header.scss */
header #info-mobile a {
  display: block;
  margin: 6px auto;
  padding: 13px 5px;
  text-align: center;
}
/* line 175, ../sass/_header.scss */
header #info-mobile a .phone {
  color: black;
  font: 700 22px/26px "Open Sans", sans-serif;
}
/* line 181, ../sass/_header.scss */
header .call-us-block > label {
  color: #000;
  float: right;
  margin: 5px 0 0;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 188, ../sass/_header.scss */
header input {
  display: none;
}
/* line 189, ../sass/_header.scss */
header input:checked + #info-mobile {
  display: none;
}
/* line 193, ../sass/_header.scss */
header .main-menu,
header .lenguage-block {
  display: none;
}

/* line 1, ../sass/_footer.scss */
footer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  padding: 25px 0 23px;
  background-color: #f39910;
}
/* line 7, ../sass/_footer.scss */
footer .form-block .form-title {
  margin: 0 auto 17px;
  text-align: center;
  color: #d72828;
  font: 700 22px/26px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 15, ../sass/_footer.scss */
footer .form-block #contact-form {
  overflow: hidden;
}
/* line 17, ../sass/_footer.scss */
footer .form-block #contact-form #name,
footer .form-block #contact-form #email,
footer .form-block #contact-form #message-area {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 7px auto;
  border: 1px solid rgba(15, 16, 16, 0.36);
  outline: none;
  color: #000;
  font: 400 18px/22px "Open Sans", sans-serif;
}
/* line 28, ../sass/_footer.scss */
footer .form-block #contact-form #name,
footer .form-block #contact-form #email {
  height: 36px;
  padding: 0 0 0 10px;
}
/* line 33, ../sass/_footer.scss */
footer .form-block #contact-form #message-area {
  height: 102px;
  padding: 10px 0 0 10px;
  resize: none;
}
/* line 38, ../sass/_footer.scss */
footer .form-block #contact-form ::-webkit-input-placeholder {
  color: #000;
  font: 400 18px/22px "Open Sans", sans-serif;
}
/* line 43, ../sass/_footer.scss */
footer .form-block #contact-form :-moz-placeholder {
  color: #000;
  font: 400 18px/22px "Open Sans", sans-serif;
}
/* line 48, ../sass/_footer.scss */
footer .form-block #contact-form ::-moz-placeholder {
  color: #000;
  font: 400 18px/22px "Open Sans", sans-serif;
}
/* line 53, ../sass/_footer.scss */
footer .form-block #contact-form :-ms-input-placeholder {
  color: #000;
  font: 400 18px/22px "Open Sans", sans-serif;
}
/* line 57, ../sass/_footer.scss */
footer .form-block #contact-form #sbm-btn {
  float: right;
  display: block;
  width: 127px;
  height: 33px;
  margin: 15px 0 0 0;
  background-color: #d72828;
  border: inherit;
  outline: none;
  cursor: pointer;
  color: white;
  font: 4040 18px/33px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 75, ../sass/_footer.scss */
footer .social-block {
  clear: both;
  overflow: hidden;
  margin: 33px auto;
}
/* line 79, ../sass/_footer.scss */
footer .social-block .social-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}
/* line 83, ../sass/_footer.scss */
footer .social-block .social-list li {
  display: inline-block;
  margin: 0 15px;
  text-align: center;
}
/* line 88, ../sass/_footer.scss */
footer .social-block .social-list li a span {
  color: #000;
  font-size: 38px;
}
/* line 97, ../sass/_footer.scss */
footer .phone-block {
  margin: 0 auto;
  text-align: center;
}
/* line 100, ../sass/_footer.scss */
footer .phone-block a {
  color: #d72828;
  font: 700 24px/28px "Open Sans", sans-serif;
}
/* line 106, ../sass/_footer.scss */
footer .footer-menu {
  display: none;
}
/* line 110, ../sass/_footer.scss */
footer .copyright {
  clear: both;
  margin: 22px 0 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 2px solid #ffba62;
}
/* line 117, ../sass/_footer.scss */
footer .copyright .copyright-sign {
  margin: 15px auto 22px;
  color: #000;
  font: 400 14px/17px "Open Sans", sans-serif;
}
/* line 122, ../sass/_footer.scss */
footer .copyright .copyright-sign a {
  color: #000;
}
/* line 125, ../sass/_footer.scss */
footer .copyright .copyright-sign a:hover {
  text-decoration: underline;
}
/* line 131, ../sass/_footer.scss */
footer .copyright .term-and-privacy a {
  display: block;
  color: #000;
  font: 400 16px/30px "Open Sans", sans-serif;
}
/* line 136, ../sass/_footer.scss */
footer .copyright .term-and-privacy a:hover {
  text-decoration: underline;
}

/* line 1, ../sass/_main-page.scss */
.page-slider {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  border-bottom: 5px solid #ffa429;
}
/* line 6, ../sass/_main-page.scss */
.page-slider .swiper-container-home-page {
  position: relative;
  height: 236px;
}
/* line 10, ../sass/_main-page.scss */
.page-slider .swiper-container-home-page .swiper-slide {
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 30, ../sass/_main-page.scss */
.page-slider .swiper-container-home-page .swiper-slide .opacity-block {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.40;
  background-image: linear-gradient(85deg, white 0%, transparent 100%);
}
/* line 43, ../sass/_main-page.scss */
.page-slider .swiper-container-home-page .swiper-slide .slider-title {
  width: 257px;
  text-align: left;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 52, ../sass/_main-page.scss */
.page-slider .swiper-container-home-page .swiper-slide .slider-title a {
  color: black;
  font: 600 22px/30px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 56, ../sass/_main-page.scss */
.page-slider .swiper-container-home-page .swiper-slide .slider-title a span {
  display: block;
}
/* line 62, ../sass/_main-page.scss */
.page-slider .swiper-container-home-page .swiper-slide img {
  z-index: 1;
  min-height: auto;
  height: 100%;
  min-width: auto;
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* line 75, ../sass/_main-page.scss */
.page-slider .swiper-container-home-page .swiper-pagination-bullets {
  display: none;
}

/* line 80, ../sass/_main-page.scss */
.home-about {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  padding: 20px 0;
  background-color: #f2ece5;
}
/* line 85, ../sass/_main-page.scss */
.home-about .section-title {
  position: relative;
  margin: 0 auto 17px;
  padding: 0 0 16px 0;
  text-align: center;
  color: black;
  font: 700 22px/26px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 124, ../sass/main_styles.scss */
.home-about .section-title:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 268px;
  height: 1px;
  opacity: 0.8;
  background-image: linear-gradient(to right, transparent 0%, #999 40%, #999 60%, transparent 100%);
}
/* line 88, ../sass/_main-page.scss */
.home-about .home-about-description {
  color: black;
  font: 300 22px/26px "Open Sans", sans-serif;
}
/* line 92, ../sass/_main-page.scss */
.home-about .home-about-description .visible-description {
  display: none;
}

/* line 97, ../sass/_main-page.scss */
.girls-reviews {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  padding: 20px 0;
  background-color: #fff;
}
/* line 102, ../sass/_main-page.scss */
.girls-reviews .section-title {
  position: relative;
  margin: 0 auto 17px;
  padding: 0 0 16px 0;
  text-align: center;
  color: black;
  font: 700 22px/26px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 124, ../sass/main_styles.scss */
.girls-reviews .section-title:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 268px;
  height: 1px;
  opacity: 0.8;
  background-image: linear-gradient(to right, transparent 0%, #999 40%, #999 60%, transparent 100%);
}
/* line 106, ../sass/_main-page.scss */
.girls-reviews .girls-reviews-list {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 0 0 30px;
  text-align: center;
}
/* line 113, ../sass/_main-page.scss */
.girls-reviews .girls-reviews-list:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 268px;
  height: 1px;
  opacity: 0.8;
  background-image: linear-gradient(to right, transparent 0%, #999 40%, #999 60%, transparent 100%);
}
/* line 125, ../sass/_main-page.scss */
.girls-reviews .girls-reviews-list li {
  display: block;
  margin: 0 auto 30px;
}
/* line 129, ../sass/_main-page.scss */
.girls-reviews .girls-reviews-list li:last-child {
  margin-bottom: 0;
}
/* line 133, ../sass/_main-page.scss */
.girls-reviews .girls-reviews-list li .img-wrapper {
  width: 153px;
  height: 153px;
  margin: 0 auto 12px;
  border-radius: 100%;
  overflow: hidden;
}
/* line 140, ../sass/_main-page.scss */
.girls-reviews .girls-reviews-list li .img-wrapper img {
  width: 100%;
  height: 100%;
}
/* line 149, ../sass/_main-page.scss */
.girls-reviews .girls-reviews-list li .girl-name {
  color: black;
  font: 600 22px/26px "Open Sans", sans-serif;
}

/* line 156, ../sass/_main-page.scss */
.fill-section {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  padding: 0;
  position: relative;
}
/* line 161, ../sass/_main-page.scss */
.fill-section .section-img-wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: 242px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
/* line 186, ../sass/_main-page.scss */
.fill-section .section-img-wrapper img {
  z-index: 1;
  min-height: auto;
  height: auto;
  min-width: auto;
  max-width: none;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 201, ../sass/_main-page.scss */
.fill-section .section-img-wrapper #border-block {
  position: absolute;
  border-bottom: 88px solid rgba(246, 154, 16, 0.6);
  border-left: 50px solid transparent;
  border-right: 0 solid transparent;
  width: 170px;
  height: 0;
  z-index: 2;
  bottom: 31px;
  right: 0;
}
/* line 212, ../sass/_main-page.scss */
.fill-section .section-img-wrapper #border-block a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 15px auto 0;
  text-align: center;
  color: #fefefe;
  font: 600 24px/28px "Open Sans", sans-serif;
}

/* line 3, ../sass/_about.scss */
.about-page .about-content {
  padding: 20px 0;
}
/* line 5, ../sass/_about.scss */
.about-page .about-content .section-title {
  position: relative;
  margin: 0 auto 17px;
  padding: 0 0 16px 0;
  text-align: center;
  color: black;
  font: 700 22px/26px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 124, ../sass/main_styles.scss */
.about-page .about-content .section-title:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 268px;
  height: 1px;
  opacity: 0.8;
  background-image: linear-gradient(to right, transparent 0%, #999 40%, #999 60%, transparent 100%);
}
/* line 9, ../sass/_about.scss */
.about-page .about-content .img-container {
  max-width: 408px;
  max-height: 278px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px auto;
}
/* line 16, ../sass/_about.scss */
.about-page .about-content .img-container img {
  max-width: 100%;
  height: auto;
}
/* line 22, ../sass/_about.scss */
.about-page .about-content p {
  margin: 10px auto;
  color: black;
  font: 300 18px/22px "Open Sans", sans-serif;
}

/* line 3, ../sass/_services.scss */
.services-page .services-content {
  padding: 20px 0;
}
/* line 5, ../sass/_services.scss */
.services-page .services-content .section-title {
  position: relative;
  margin: 0 auto 17px;
  padding: 0 0 16px 0;
  text-align: center;
  color: black;
  font: 700 22px/26px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 124, ../sass/main_styles.scss */
.services-page .services-content .section-title:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 268px;
  height: 1px;
  opacity: 0.8;
  background-image: linear-gradient(to right, transparent 0%, #999 40%, #999 60%, transparent 100%);
}
/* line 9, ../sass/_services.scss */
.services-page .services-content .img-container {
  max-width: 408px;
  max-height: 278px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px auto;
}
/* line 16, ../sass/_services.scss */
.services-page .services-content .img-container img {
  max-width: 100%;
  height: auto;
}
/* line 22, ../sass/_services.scss */
.services-page .services-content p {
  margin: 10px auto;
  color: black;
  font: 300 18px/22px "Open Sans", sans-serif;
}

/* line 1, ../sass/_reviews.scss */
.reviews-page {
  padding: 20px 0;
}
/* line 5, ../sass/_reviews.scss */
.reviews-page .reviews-content .section-title {
  position: relative;
  margin: 0 auto 17px;
  padding: 0 0 16px 0;
  text-align: center;
  color: black;
  font: 700 22px/26px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 124, ../sass/main_styles.scss */
.reviews-page .reviews-content .section-title:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 268px;
  height: 1px;
  opacity: 0.8;
  background-image: linear-gradient(to right, transparent 0%, #999 40%, #999 60%, transparent 100%);
}
/* line 9, ../sass/_reviews.scss */
.reviews-page .reviews-content .reviews-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 12, ../sass/_reviews.scss */
.reviews-page .reviews-content .reviews-list li {
  display: block;
  width: 100%;
  margin: 0 auto 25px;
  padding: 0 0 20px;
  position: relative;
}
/* line 19, ../sass/_reviews.scss */
.reviews-page .reviews-content .reviews-list li:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 268px;
  height: 1px;
  opacity: 0.8;
  background-image: linear-gradient(to right, transparent 0%, #999 40%, #999 60%, transparent 100%);
}
/* line 32, ../sass/_reviews.scss */
.reviews-page .reviews-content .reviews-list li:last-child:after {
  content: none;
}
/* line 37, ../sass/_reviews.scss */
.reviews-page .reviews-content .reviews-list li .reviews-img-container {
  max-width: 288px;
  max-height: 175px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
}
/* line 44, ../sass/_reviews.scss */
.reviews-page .reviews-content .reviews-list li .reviews-img-container img {
  max-width: 100%;
  height: auto;
}
/* line 50, ../sass/_reviews.scss */
.reviews-page .reviews-content .reviews-list li .person-name {
  margin: 10px 0;
  color: black;
  font: 600 22px/25px "Open Sans", sans-serif;
}
/* line 56, ../sass/_reviews.scss */
.reviews-page .reviews-content .reviews-list li .post-date a {
  color: #f09710;
  font: 400 16px/19px "Open Sans", sans-serif;
}
/* line 61, ../sass/_reviews.scss */
.reviews-page .reviews-content .reviews-list li .post-content {
  margin: 25px auto 0;
  color: black;
  font: 300 18px/22px "Open Sans", sans-serif;
}
/* line 66, ../sass/_reviews.scss */
.reviews-page .reviews-content .reviews-list li .post-content span {
  display: none;
}
/* line 55, ../sass/main_styles.scss */
.reviews-page .reviews-content .site-pagination .pagination-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 34px auto 31px;
  text-align: center;
}
/* line 61, ../sass/main_styles.scss */
.reviews-page .reviews-content .site-pagination .pagination-list li {
  display: inline-block;
  margin: 0 3px;
}
/* line 65, ../sass/main_styles.scss */
.reviews-page .reviews-content .site-pagination .pagination-list li a {
  font: 700 18px/20px "Open Sans", sans-serif;
  text-transform: uppercase;
  color: black;
}
/* line 70, ../sass/main_styles.scss */
.reviews-page .reviews-content .site-pagination .pagination-list li a:hover {
  color: #fd9e0e;
}
/* line 74, ../sass/main_styles.scss */
.reviews-page .reviews-content .site-pagination .pagination-list li a.pagination-active {
  color: #fd9e0e;
}

@media (min-width: 768px) {
  /* line 5, ../sass/_media.scss */
  .page-slider .swiper-container-home-page {
    height: 485px;
  }
  /* line 9, ../sass/_media.scss */
  .page-slider .swiper-container-home-page .swiper-slide .slider-title {
    width: auto;
    text-align: left;
    top: 287px;
    left: 50%;
    transform: translateX(-50%);
  }
  /* line 15, ../sass/_media.scss */
  .page-slider .swiper-container-home-page .swiper-slide .slider-title a {
    font-size: 35px;
    line-height: 40px;
  }
  /* line 22, ../sass/_media.scss */
  .page-slider .swiper-container-home-page .swiper-pagination-bullets {
    display: block;
    bottom: 20px;
    right: 10px;
  }
  /* line 27, ../sass/_media.scss */
  .page-slider .swiper-container-home-page .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 17px;
    height: 17px;
    margin: 0 2px;
    background-color: #fca013;
    border: 2px solid #fca013;
    opacity: 1;
  }
  /* line 35, ../sass/_media.scss */
  .page-slider .swiper-container-home-page .swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: #000;
    border-color: #000;
  }

  /* line 45, ../sass/_media.scss */
  .home-about .section-title:after {
    width: 550px;
  }

  /* line 53, ../sass/_media.scss */
  .girls-reviews .section-title:after {
    width: 550px;
  }
  /* line 57, ../sass/_media.scss */
  .girls-reviews .girls-reviews-list {
    margin: 40px auto;
    padding: 0 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: space-around;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  /* line 71, ../sass/_media.scss */
  .girls-reviews .girls-reviews-list li {
    margin: 0 auto;
  }
  /* line 75, ../sass/_media.scss */
  .girls-reviews .girls-reviews-list:after {
    width: 550px;
  }

  /* line 81, ../sass/_media.scss */
  .fill-section {
    padding: 0 0 42px 0;
  }
  /* line 83, ../sass/_media.scss */
  .fill-section .section-img-wrapper {
    height: 410px;
    max-width: 972px;
    max-height: 410px;
    margin: 0 auto;
    text-align: center;
  }
  /* line 90, ../sass/_media.scss */
  .fill-section .section-img-wrapper #border-block {
    width: 300px;
    bottom: 120px;
    border-bottom: 120px solid rgba(246, 154, 16, 0.6);
  }
  /* line 95, ../sass/_media.scss */
  .fill-section .section-img-wrapper #border-block a {
    font-size: 32px;
    line-height: 38px;
  }

  /* line 106, ../sass/_media.scss */
  .about-page .about-content .section-title {
    margin: 0 auto 30px;
  }
  /* line 110, ../sass/_media.scss */
  .about-page .about-content .img-container {
    float: left;
    margin: 0 15px 5px 0;
  }

  /* line 120, ../sass/_media.scss */
  .services-page .services-content .section-title {
    margin: 0 auto 30px;
  }
  /* line 124, ../sass/_media.scss */
  .services-page .services-content .img-container {
    float: left;
    margin: 0 15px 5px 0;
  }

  /* line 134, ../sass/_media.scss */
  .reviews-page .reviews-content .reviews-list li {
    overflow: hidden;
    clear: both;
  }
  /* line 137, ../sass/_media.scss */
  .reviews-page .reviews-content .reviews-list li .reviews-img-container {
    float: left;
    margin: 0 15px 0 0;
  }
  /* line 142, ../sass/_media.scss */
  .reviews-page .reviews-content .reviews-list li .overflow-block {
    overflow: hidden;
  }
  /* line 146, ../sass/_media.scss */
  .reviews-page .reviews-content .reviews-list li .person-name {
    margin: 0 0 10px;
  }
  /* line 149, ../sass/_media.scss */
  .reviews-page .reviews-content .reviews-list li .post-content {
    margin: 15px auto 0;
    font-size: 16px;
  }
  /* line 152, ../sass/_media.scss */
  .reviews-page .reviews-content .reviews-list li .post-content span {
    display: inline;
  }
}
@media (min-width: 1024px) {
  /* line 164, ../sass/_media.scss */
  .direction {
    display: none;
  }

  /* line 168, ../sass/_media.scss */
  header {
    overflow: hidden;
    max-height: 113px;
    padding: 11px 0 0;
  }
  /* line 172, ../sass/_media.scss */
  header .dropdovn-menu-mobile,
  header .call-us-block {
    display: none;
  }
  /* line 177, ../sass/_media.scss */
  header .block-logo {
    float: left;
  }
  /* line 180, ../sass/_media.scss */
  header .block-logo .logo {
    max-width: 200px;
    max-height: 100%;
    padding: 5px;
  }
  /* line 187, ../sass/_media.scss */
  header .lenguage-block {
    display: block;
    float: right;
    margin: 10px 0 0;
  }
  /* line 192, ../sass/_media.scss */
  header .lenguage-block #lenguage-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 195, ../sass/_media.scss */
  header .lenguage-block #lenguage-list li {
    display: block;
    width: 56px;
    height: 35px;
    float: left;
    text-align: center;
  }
  /* line 202, ../sass/_media.scss */
  header .lenguage-block #lenguage-list li a {
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    font: 400 12px/35px "Open Sans", sans-serif;
    text-transform: uppercase;
    border: 1px solid transparent;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  /* line 212, ../sass/_media.scss */
  header .lenguage-block #lenguage-list li a:hover {
    color: #d72828;
    border-color: #d72828;
  }
  /* line 217, ../sass/_media.scss */
  header .lenguage-block #lenguage-list li a.lenguage-item-active {
    color: #d72828;
    border-color: #d72828;
  }
  /* line 225, ../sass/_media.scss */
  header .main-menu {
    display: block;
    height: 43px;
    line-height: 43px;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(to top, white 0%, #ffba62 0%, #ef9710 0%, #fda115 100%);
  }
  /* line 233, ../sass/_media.scss */
  header .main-menu .list-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 236, ../sass/_media.scss */
  header .main-menu .list-menu li {
    display: block;
    float: left;
    margin: 0 15px;
    padding: 0 25px 0 0;
    border-right: 1px solid #f0e9e0;
  }
  /* line 243, ../sass/_media.scss */
  header .main-menu .list-menu li:first-child {
    margin-left: 0;
  }
  /* line 247, ../sass/_media.scss */
  header .main-menu .list-menu li:last-child {
    border: none;
  }
  /* line 251, ../sass/_media.scss */
  header .main-menu .list-menu li a {
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    font: 400 16px/43px "Open Sans", sans-serif;
  }
  /* line 258, ../sass/_media.scss */
  header .main-menu .list-menu li a:hover {
    text-decoration: underline;
  }
  /* line 262, ../sass/_media.scss */
  header .main-menu .list-menu li a.desctop-menu-active {
    text-decoration: underline;
  }

  /* line 275, ../sass/_media.scss */
  .page-slider .swiper-container-home-page .swiper-slide .opacity-block {
    opacity: 0.90;
  }
  /* line 278, ../sass/_media.scss */
  .page-slider .swiper-container-home-page .swiper-slide .slider-title {
    left: 25%;
    transform: translateX(-25%);
  }

  /* line 287, ../sass/_media.scss */
  .home-about .home-about-description .visible-description {
    display: inline;
  }

  /* line 296, ../sass/_media.scss */
  footer .footer-content {
    overflow: hidden;
  }
  /* line 299, ../sass/_media.scss */
  footer .form-block {
    max-width: 390px;
    float: right;
  }
  /* line 304, ../sass/_media.scss */
  footer .form-block #contact-form #name,
  footer .form-block #contact-form #email {
    width: 48%;
  }
  /* line 309, ../sass/_media.scss */
  footer .form-block #contact-form #name {
    float: left;
  }
  /* line 312, ../sass/_media.scss */
  footer .form-block #contact-form #email {
    float: right;
  }
  /* line 318, ../sass/_media.scss */
  footer .social-block {
    float: right;
    clear: inherit;
    margin: 0;
    min-width: 150px;
    overflow: hidden;
  }
  /* line 325, ../sass/_media.scss */
  footer .social-block .social-list {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 328, ../sass/_media.scss */
  footer .social-block .social-list li {
    display: block;
    margin: 15px auto;
  }
  /* line 333, ../sass/_media.scss */
  footer .social-block .social-list li a span {
    font-size: 20px;
  }
  /* line 340, ../sass/_media.scss */
  footer .phone-block {
    display: none;
  }
  /* line 344, ../sass/_media.scss */
  footer .footer-menu {
    display: block;
    float: left;
    max-width: 385px;
    overflow: hidden;
  }
  /* line 350, ../sass/_media.scss */
  footer .footer-menu .menu-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 352, ../sass/_media.scss */
  footer .footer-menu .menu-list li {
    text-align: left;
    display: block;
    float: left;
    width: 49%;
    margin: 5px 0;
  }
  /* line 358, ../sass/_media.scss */
  footer .footer-menu .menu-list li a {
    color: black;
    font: 400 15px/20px "Open Sans", sans-serif;
  }
  /* line 362, ../sass/_media.scss */
  footer .footer-menu .menu-list li a:hover {
    text-decoration: underline;
  }
  /* line 366, ../sass/_media.scss */
  footer .footer-menu .menu-list li a.footer-menu-active {
    text-decoration: underline;
  }
  /* line 374, ../sass/_media.scss */
  footer .copyright .term-and-privacy a {
    display: inline-block;
    margin: 0 10px;
  }
}
