/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'MonotypeCorsiva';
  src: url("../resources/MonotypeCorsiva/MonotypeCorsiva.woff") format("woff"), url("../resources/MonotypeCorsiva/MonotypeCorsiva.ttf") format("truetype"), url("../resources/MonotypeCorsiva/MonotypeCorsiva.svg#MonotypeCorsiva") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MonotypeCorsiva';
  src: url("../resources/MonotypeCorsiva/mtcorsva.eot");
  src: url("../resources/MonotypeCorsiva/mtcorsva.woff2") format("woff2"), url("../resources/MonotypeCorsiva/mtcorsva.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/* line 24, ../sass/main_styles.scss */
body {
  font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
}

/* line 107, ../sass/main_styles.scss */
.wrapper {
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/* line 114, ../sass/main_styles.scss */
a {
  text-decoration: none;
}

/* line 117, ../sass/main_styles.scss */
.direction {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  padding: 10px 0 11px;
  background-color: #d5dde1;
}
/* line 77, ../sass/main_styles.scss */
.direction .arrow-back {
  float: left;
}
/* line 80, ../sass/main_styles.scss */
.direction .direction-title {
  margin: 0 auto;
  text-align: center;
}
/* line 83, ../sass/main_styles.scss */
.direction .direction-title a {
  color: #069df1;
  font: 400 18px/25px #OpenSans;
  text-transform: uppercase;
  text-transform: uppercase;
}

/* line 1, ../sass/_header.scss */
.dropdovn-menu-mobile {
  position: relative;
}
/* line 3, ../sass/_header.scss */
.dropdovn-menu-mobile .hidden-menu {
  display: block;
  position: absolute;
  list-style: none;
  padding: 55px 0 0 0;
  margin: 0;
  box-sizing: border-box;
  width: 202px;
  background-color: #74023b;
  box-shadow: 2.4px 4.4px 7px rgba(0, 1, 1, 0.26);
  height: auto;
  top: 0;
  left: -650px;
  transition: left .2s;
  z-index: 9;
  -webkit-transform: classZ(0);
  -webkit-backface-visibility: hidden;
}
/* line 20, ../sass/_header.scss */
.dropdovn-menu-mobile .hidden-menu li {
  display: block;
  width: 100%;
  height: 43px;
  margin: 0 auto;
  text-align: left;
  line-height: 43px;
  vertical-align: middle;
}
/* line 29, ../sass/_header.scss */
.dropdovn-menu-mobile .hidden-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 26px;
  color: #000;
  font: 400 18px/40px "Open Sans", sans-serif;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 39, ../sass/_header.scss */
.dropdovn-menu-mobile .hidden-menu li a:hover {
  color: #fff;
  background: #00adf5;
}
/* line 44, ../sass/_header.scss */
.dropdovn-menu-mobile .hidden-menu li a.hidden-menu-active {
  color: #fff;
  background: #00adf5;
}
/* line 50, ../sass/_header.scss */
.dropdovn-menu-mobile .btn-menu {
  color: #fff;
  background-color: none;
  position: absolute;
  top: 31px;
  left: 0;
  cursor: pointer;
  transition: left .23s;
  z-index: 99;
  width: 22px;
  -webkit-transform: classZ(0);
  -webkit-backface-visibility: hidden;
}
/* line 63, ../sass/_header.scss */
.dropdovn-menu-mobile .btn-menu span {
  display: block;
  height: 2px;
  background-color: #fff;
  margin: 3px 0 0;
  transition: all .1s linear .23s;
  border-radius: 10px;
  position: relative;
}
/* line 72, ../sass/_header.scss */
.dropdovn-menu-mobile .btn-menu span.first {
  margin-top: 0;
}
/* line 75, ../sass/_header.scss */
.dropdovn-menu-mobile .hidden-menu-ticker:checked ~ .btn-menu {
  left: 145px;
  z-index: 99999;
}
/* line 79, ../sass/_header.scss */
.dropdovn-menu-mobile .hidden-menu-ticker:checked ~ .btn-menu span {
  background-color: #00adf5;
}
/* line 82, ../sass/_header.scss */
.dropdovn-menu-mobile .hidden-menu-ticker:checked ~ .hidden-menu {
  left: -15px;
  top: 0;
  overflow: hidden;
  margin: 0;
  z-index: 9999;
  background-color: #e7f2f6;
  box-shadow: -3.5px 3.5px 5px rgba(0, 0, 0, 0.14);
}
@media (min-width: 1000px) {
  /* line 92, ../sass/_header.scss */
  .dropdovn-menu-mobile .hidden-menu-ticker:checked ~ .hidden-menu {
    left: -22px;
  }
}

/* line 98, ../sass/_header.scss */
input {
  display: none;
}

/* line 99, ../sass/_header.scss */
input:checked + #info-mobile {
  display: none;
}

/*end menu*/
